{% extends 'base.html'%}

{% block content %}
<!-- Header-->
<header class="py-5" style="background: linear-gradient(135deg, var(--primary-color) 0%, #3a56ff 100%);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Information</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update your profile information</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br/><br/>
            <strong style="color: var(--text-primary);">Billing Information</strong>
            <br/><br/>
            <form method="POST" action="{% url 'store:update_info' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
                <br/><br/>
                <strong style="color: var(--text-primary);">Shipping Information</strong>
                <br/><br/>
                
                {{ shipping_form.as_p }}

                <br/><br/>
                <button type="submit" class="btn btn-primary">
                    Update Profile
                </button>
            </form>

            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
        </div>
    </div>
</div>
{% endblock content %}